# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=e8083e6af55e201e26660d211d4437eca40c002164a9fb4819d8febdc77b0e93e72a87cf12b274d68ca6795d9ec8dccadf2dd6f0aa3b1fa34e993cb26c323385
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
